<div class="page-header">
  <%= link_to new_thing_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Thing
  <% end %>
  <h1>My things</h1>


  <%= render 'things' %>
</div>